body {
  margin: 0;
}

div.menu {
  justify-content: center;
  box-shadow: 3px 0px 2px 0px black;
  height: 567px;
  background-image: linear-gradient(to right, #ffffff00, #ffffff60);
}
.profile-name {
  margin-top: 2%;
  text-align: center;
  font-size: 0.9em;
  font-weight: 900;
}

.profile-admin {
  margin-top: 1%;
  text-align: center;
  font-size: 0.7em;
  font-weight: 700;
}

.delete-btn {
  color: red;
}

.users tr:not(:first-child):hover {
  background-color: #e2e2e2;
}

.table-actions span {
  cursor: pointer;
}

.form {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(231, 216, 216, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-container {
  position: relative;
  background-color: rgb(97, 16, 247);
  padding: 25px;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

div.form-container > * {
  margin: 5px 0;
}

div.form-container > input {
  width: 260px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid black;
}

div.form-container input:focus {
  outline: 0;
}

div.form-container > input[type="text"],
div.form-container > input[type="password"] {
  height: 25px;
  font-size: 18px;
}

span.form-title {
  font-size: 30px;
}

div.form-container span.check {
  font-size: 30px;
  position: absolute;
  left: 25px;
  bottom: 10px;
  cursor: pointer;
}

div.form-container span.close {
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
}

div.form-container input.form-icon {
  border: 0;
}
